@using web_layer.Models;
@using web_layer.Controllers;
@model EditOrderWithItemsViewModel;

@{
	var orderItemViewModel = new OrderItemViewModel() { OrderId = Model.OrderViewModel.Id };
}

<div class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title fs-5">Edit order</h1>
	</div>
	<div class="modal-body">
		<div id="edit-order-container">
			<partial name="EditOrder.cshtml" model="@Model.OrderViewModel" />
		</div>
		<br />
		<form id="order-id-for-item" hidden asp-action="CreateUpdateOrderItem" asp-controller="Order">
			<input type="hidden" name="OrderId" value="@Model.OrderViewModel.Id"/>
		</form>

		<partial name="EditOrderItems.cshtml" model="@Model.OrderItemsViewModel" />
	</div>
</div>

<script>
	$('#add-order-item-btn').click(function () {
		$('#edit-order-modal').modal('hide');
		form = $('#order-id-for-item');

		$.ajax({
			type: 'POST',
			url: form.attr('action'),
			data: form.serialize(),
			success: function (data) {
				$('#edit-order-item-md').html(data);
				$('#edit-order-item-modal').modal('show');
			}
		});
	});
</script>